@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");


*{
    font-family: 'Quicksand', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 50%;
    margin: 0 auto;
}

.queue{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.restrictions{
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.restrictions__item{
    background-color: rgba(100, 149, 237, 0.24);
    padding: 3px 10px;
    border-radius: 5px;
    width: fit-content;
    color: cornflowerblue;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form__input{
    padding: 10px;
    border: none;
    background-color: #f1f1f1;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

.form__input:disabled{
    background-color: rgba(241, 241, 241, 0.35);
    color: white;
}

.form__buttons{
    display: flex;
    justify-content: space-evenly;
}

.form__button{
    outline: none;
    border: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    color: white;
    width: 20%;
}

.form__button:hover{
    cursor: pointer;
}

.form__button:disabled{
    opacity: 0.5;
    cursor: unset;
}

.form__button-add{
    background-color: #5086e7;
}

.form__button-remove{
    background-color: #e72929;
}

@media (max-width: 700px){
    .main{
        width: 100%;
        padding: 20px;
    }
    .form__buttons{
        justify-content: space-between;
    }
    .form__button{
        width: 45%;
    }
}
